<div class="flex flex-wrap mt-4">
  <div class="w-full mb-12 px-4">
    <app-card-table [heading]="'Maternal Medical History'"
                    [data]="['hypertension', 'heart disease', 'sickle cell disease', 'allergies']">
    </app-card-table>
  </div>

  <div class="w-full mb-12 px-4">
    <app-card-table [heading]="'Family History'"
                    [data]="['hypertension', 'heart disease', 'diabetes', 'multiple pregnancy', 'birth defects', 'mental disorder']"
                    color="dark">
    </app-card-table>
    <app-card-table [heading]="'Social History'" [data]="['alcohol', 'smoking']">
    </app-card-table>
    <app-card-inputs color="dark"></app-card-inputs>
<!--    Previous Pregnancy History  -->
    <app-card-generic-inputs
      [heading] = "'Previous Pregnancy History'"
      [selectInputs]="selectInputsPreviousPreg"
      [textInputs]="textInputsPreviousPreg">

    </app-card-generic-inputs>
<!--    Current Pregnancy History -->
    <app-card-generic-inputs
      [heading]="'Current Pregnancy History'"
      color="dark" [textInputs]="textInputsCurrentPreg">

    </app-card-generic-inputs>

    <app-card-generic-inputs
      [heading]="'Pregnancy Investigations'"
      [date]="true"
      [selectInputs]="selectInputsPregInvestigations">

    </app-card-generic-inputs>


  </div>

</div>
