<div class="flex flex-wrap">
  <div class="w-full lg:w-8/12 px-4">
    <app-card-generic-inputs
      [heading]="'HIV Routine Test'"
      [date]="true"
      [selectInputs]="selectInputsHIV">

    </app-card-generic-inputs>
    <app-card-generic-inputs
      [heading]="'Hepatitis-B Routine Test'"
      [date]="true"
      [selectInputs]="selectInputsHB">

    </app-card-generic-inputs>
    <app-card-two-columns
      [heading]="'Antenatal Records'"
      [date]="true"
      [subHeadings]="subHeadings">

    </app-card-two-columns>
  </div>
  <div class="w-full lg:w-4/12 px-4">
    <app-card-profile></app-card-profile>
  </div>
</div>
